.logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
  color:  #7f2680;
}

/*span.logo{
    color:  #7f2680;
    background-color: #7f2680;
}


span{
    font-family: 'Lobster', cursive;
    font-weight: 500;
    line-height: 1.1;
    color: #48ca3b;
   }
*/